$btn-vars: (
  radius: 4px,
  primary-bg: #2f735a,
  primary-bg-active: #094030,
  primary-fg: #fff,
  tertiary-bg: transparent,
  tertiary-bg-active: transparent,
  tertiary-fg: #00fa9a
);

$btn-info-vars: (
  primary-bg: rgba(255, 255, 255, 0.8),
  primary-bg-active: rgba(247, 244, 244, 0.8),
  primary-fg: #333
);

.btn {
  border: 0;
  border-radius: map-get($map: $btn-vars, $key: radius);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.6rem;
  padding: 1rem;
  min-height: 50px;
  min-width: 10rem;
  transition: 150ms ease background-color;

  &--info {
    background: map-get($map: $btn-info-vars, $key: primary-bg);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.65);
    text-decoration: none;
    color: map-get($map: $btn-info-vars, $key: primary-fg);
    min-width: auto;
    min-height: auto;
    align-items: inherit;
    justify-content: inherit;
    display: block;

    &:active,
    &:focus,
    &:hover {
      background-color: map-get($map: $btn-info-vars, $key: primary-bg-active);
    }
  }

  &--primary {
    background-color: map-get($map: $btn-vars, $key: primary-bg);
    color: map-get($map: $btn-vars, $key: primary-fg);

    &:active,
    &:focus,
    &:hover {
      background-color: map-get($map: $btn-vars, $key: primary-bg-active);
    }
  }

  &--tertiary {
    -webkit-appearance: none;
    appearance: none;
    background-color: transparent;
    border: 0;
    color: map-get($btn-vars, 'tertiary-fg');
    cursor: pointer;
    font-size: inherit;
    font-weight: 300;
    padding: 0;
    text-decoration: underline;
  }
}
