$btn-vars: (
  radius: 4px,
  primary-bg: #2F735A,
  primary-bg-active: #094030,
  primary-fg: #fff,
);

$btn-info-vars: (
  primary-bg: rgba(255,255,255,.8),
  primary-bg-active: rgba(247, 244, 244, 0.8),
  primary-fg: #333,
);

.btn {
  border: 0;
  border-radius: map-get($map: $btn-vars, $key: radius);
  cursor: pointer;
  font-size: 1.6rem;
  padding: 1rem;
  min-height: 50px;
  min-width: 10rem;
  transition: 150ms ease background-color;

  &--info {
    background: map-get($map: $btn-info-vars, $key: primary-bg);
    box-shadow: 0 1px 2px rgba(0,0,0,0.65);
    text-decoration: none;
    color: map-get($map: $btn-info-vars, $key: primary-fg);

    &:active,
    &:focus,
    &:hover {
      background-color: map-get($map: $btn-info-vars, $key: primary-bg-active);
    }
  }

  &--primary {
    background-color: map-get($map: $btn-vars, $key: primary-bg);
    color: map-get($map: $btn-vars, $key: primary-fg);

    &:active,
    &:focus,
    &:hover {
      background-color: map-get($map: $btn-vars, $key: primary-bg-active);
    }
  }
}
