$modal-vars: (
  btn-fg: #fff
);

.modal {
  z-index: 100000;
  display: none;
  position: fixed;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  left: 0;
  bottom: 0;
  top: 0;
  right: 0;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}

.animate-opacity {
  animation: opac 0.8s;
}

.card-4 {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.2), 0 4px 20px 0 rgba(0, 0, 0, 0.19);
}

.modal-content {
  background-color: #fff;
  position: relative;
  top: 10%;
  /*margin-top: 70px;*/
  padding: 0;
  outline: 0;
  width: 600px;
  max-width: 95vw;

  .container > h2 {
    padding: 0.5rem 0;
    margin: 1.5rem 0 0;
  }
}

.modal-content textarea {
  max-width: 100%;
  margin-top: 10px;
  padding: 5px;
  border: 1px solid #f2f2f2;
  resize: none;
  width: 100%;
  font-family: 'Raleway', sans-serif;
}

.teal {
  color: #fff !important;
  background-color: #009688 !important;
}

.container {
  padding: 1rem;
}

.panel {
  padding: 0.01em 16px;
}

.display-topright {
  position: absolute;
  right: 5px;
  top: 5px;
}

.close-button {
  border: none;
  background-color: transparent !important;
  font-size: 2.4em;
  display: inline-block;
  padding: 2px 10px;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  color: inherit;
  background-color: inherit;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
}

.modal-content .btn {
  background: #028276;
  color: map-get($map: $modal-vars, $key: btn-fg);
  // display: inline-block;
  // margin: 10px;
  // padding: 10px 10px;
}
