$vars: (
  window-bg: #fff
);

.place-modal {
  display: none;
  height: 100%;
  left: 50%;
  position: fixed;
  top: 50%;
  transform: translateY(-50%) translateX(-50%);
  width: 100%;
  z-index: 9999;

  @include media-breakpoint-down(sm) {
    z-index: 10001;
  }

  &__overlay {
    background-color: rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9998;
  }
  
  &__window {
    background-color: map-get($map: $vars, $key: window-bg);
    border-radius: 4px;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
    left: 50%;
    margin: auto;
    margin-bottom: -0.8rem;
    max-width: 55rem;
    padding: 4rem 4rem 1.5rem 4rem;
    position: absolute;
    top: 50%;
    transform: translateY(-50%) translateX(-50%);
    width: 100%;
    z-index: 9999;

    @include media-breakpoint-down(sm) {
      bottom: 0;
      max-height: 100%;
      overflow-y: auto;
      padding: 3rem;
      top: auto;
      transform: translateY(0) translateX(-50%);
      // width: 97vw;
      z-index: 100001;
    }
  }

  &__title {
    margin: 0 0;
    font-size: 2rem;
  }

  &__subtitle {
    margin: 0 0 2.5rem;
    font-size: 1.5rem;
    font-weight: 200;
  }

  &__body {
    @include media-breakpoint-up(sm) {
      margin: 0 0 2.5rem;
    }
  }
  
  &__actions {
    margin: 1.5rem 0 0;

    button { 
      margin-top: 1rem;
      width: 100%;
    }
  }

  &__badge {
    display: flex;
    margin: auto;
    align-items: center;
    color: #fff;
    justify-content: center;

    div:first-child {
      font-weight: 200;
    }

    .bg-closedmin {
      background: #777;
      padding: .8rem;
      border-radius: 4px;
    }

    .bg-no {
      background: #0696c1;
      padding: .8rem;
      border-radius: 4px;
    }

    .bg-0min {
      background: #1fcc00;
      padding: .8rem;
      border-radius: 4px;
    }
    .bg-5min,
    .bg-10min {
      background: #1fcc00;
      padding: .8rem;
      border-radius: 4px;
    }

    .bg-15min,
    .bg-20min,
    .bg-25min {
      background: #ffbf1c;
      padding: .8rem;
      border-radius: 4px;
    }

    .bg-25min,
    .bg-30min {
      background: #fc7e2a;
      padding: .8rem;
      border-radius: 4px;
    }

    .bg-35min,
    .bg-40min,
    .bg-45min {
      background: #fa4c25;
      padding: .8rem;
      border-radius: 4px;
    }

    .bg-50min,
    .bg-55min,
    .bg-60min {
      background: #ff2929;
      padding: .8rem;
      border-radius: 4px;
    }

    .bg-60min,
    .bg-65min,
    .bg-70min,
    .bg-75min,
    .bg-80min,
    .bg-85min,
    .bg-90min {
      background: #cc0c33;
      padding: .8rem;
      border-radius: 4px;
    }
  }

  &__infobox {
    background: #f2f2f2;
    padding: 0.5rem 1rem;
    margin: 2rem 0 0 0;
  }

  &__helper {
    p {
      margin: 0;
    }
  }
}

#time-min {
  font-weight: 600;
}
