.sidebar {
    display: none;
    height: 100%;
    width: 100%;
    position: fixed;
    z-index: 9997;

    &__window {
        background-color: #fff;
        max-width: 350px;
        position: absolute;
        z-index: 9997;
        width: 100%;
        height: 100%;

        &--title {
            margin: 2rem 1rem 0 1rem;
        }
    }
    &__header {
        position: fixed;
        top: 0;
        width: 100%;
        max-width: 360px;
        box-shadow: 0px 0px 3px 1px #9c9c9c;
        background: #fff;
    }

    &__overlay {
        background-color: rgba(0, 0, 0, 0.4);
        height: 100%;
        left: 0;
        position: absolute;
        top: 0;
        width: 100%;
        z-index: 9996;
    }

    &__content {
        overflow: auto;
        margin: 1rem .8rem;
        width: 100%;
        height: 100%;
    }

    &__item {
        cursor: pointer;
        box-shadow: 1px 1px 3px 1px #92929299;
        margin: 1rem 0;
        padding: 1rem;

        &:active,
        &:focus,
        &:hover {
            box-shadow: 1px 1px 6px 2px #3e3e3e9c;
        }

        &--badge {
            display: flex;
            margin: auto;
            align-items: center;
            color: #fff;
            justify-content: center;

            .bg-closedmin {
                background: #777;
                padding: .8rem;
                border-radius: 4px;
              }
          
              .bg-no {
                background: #0696c1;
                padding: .8rem;
                border-radius: 4px;
              }
          
              .bg-0min {
                background: #1fcc00;
                padding: .8rem;
                border-radius: 4px;
              }
              .bg-5min,
              .bg-10min {
                background: #1fcc00;
                padding: .8rem;
                border-radius: 4px;
              }
          
              .bg-15min,
              .bg-20min,
              .bg-25min {
                background: #ffbf1c;
                padding: .8rem;
                border-radius: 4px;
              }
          
              .bg-25min,
              .bg-30min {
                background: #fc7e2a;
                padding: .8rem;
                border-radius: 4px;
              }
          
              .bg-35min,
              .bg-40min,
              .bg-45min {
                background: #fa4c25;
                padding: .8rem;
                border-radius: 4px;
              }
          
              .bg-50min,
              .bg-55min,
              .bg-60min {
                background: #ff2929;
                padding: .8rem;
                border-radius: 4px;
              }
          
              .bg-60min,
              .bg-65min,
              .bg-70min,
              .bg-75min,
              .bg-80min,
              .bg-85min,
              .bg-90min {
                background: #cc0c33;
                padding: .8rem;
                border-radius: 4px;
              }
        }

        &--title {
            margin: 0 0;
            font-size: 2rem;

            &:before {
                content: "";
                width: .5rem;
                height: .5rem;
                vertical-align: middle;
                display: inline-block;
                margin: 0 .5rem 0 0;
            }

            &--bg-closedmin:before {
            background: #777;
            padding: .8rem;
            border-radius: 4px;
            }

            &--bg-no:before {
            background: #0696c1;
            padding: .8rem;
            border-radius: 4px;
            }

            &--bg-0min:before {
            background: #1fcc00;
            padding: .8rem;
            border-radius: 4px;
            }
            &--bg-5min:before,
            &--bg-10min:before {
            background: #1fcc00;
            padding: .8rem;
            border-radius: 4px;
            }

            &--bg-15min:before,
            &--bg-20min:before,
            &--bg-25min:before {
            background: #ffbf1c;
            padding: .8rem;
            border-radius: 4px;
            }

            &--bg-25min:before,
            &--bg-30min:before {
            background: #fc7e2a;
            padding: .8rem;
            border-radius: 4px;
            }

            &--bg-35min:before,
            &--bg-40min:before,
            &--bg-45min:before {
            background: #fa4c25;
            padding: .8rem;
            border-radius: 4px;
            }

            &--bg-50min:before,
            &--bg-55min:before,
            &--bg-60min:before {
            background: #ff2929;
            padding: .8rem;
            border-radius: 4px;
            }

            &--bg-60min:before,
            &--bg-65min:before,
            &--bg-70min:before,
            &--bg-75min:before,
            &--bg-80min:before,
            &--bg-85min:before,
            &--bg-90min:before {
            background: #cc0c33;
            padding: .8rem;
            border-radius: 4px;
            }
        }
        
        &--subtitle {
            margin: 0 0 0.5rem;
            font-size: 1.5rem;
        }
    }
}