.sidebar {
  display: none;
  height: 100%;
  width: 100%;
  position: fixed;
  z-index: 9997;
}

.sidebar__window {
  background-color: #fff;
  max-width: 350px;
  position: absolute;
  z-index: 9997;
  width: 100%;
  height: 100%;
}

.sidebar__window__title {
  margin: 2rem 1rem 0 1rem;
}

.sidebar__header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 350px;
  box-shadow: 0px 0px 3px 1px #9c9c9c;
  background: #fff;
}

.sidebar__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 9996;
}

.sidebar__content {
  overflow: auto;
  margin: 5.5rem 0.8rem;
  height: 100%;
  max-width: 100%;
}

.sidebar__item {
  cursor: pointer;
  box-shadow: 1px 1px 3px 0px #92929299;
  border: 1px solid #f2f2f2;
  margin: 1rem 0;
  padding: 1rem;

  &:active,
  &:focus,
  &:hover {
    box-shadow: 1px 1px 6px 2px #3e3e3e9c;
  }
}

@media only screen and (max-width: 640px) {
  .sidebar {
    &__window,
    &__header {
      max-width: 100%;
    }
  }
}
