.slidecontainer {
    width: 100%;
  }

.slider {
    appearance: none;
    width: 100%;
    height: 10px;
    border-radius: 5px;
    background: #d3d3d3;
 
    &::-webkit-slider-thumb {
        appearance: none;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #2F735A;
        cursor: pointer;
    }

    &::-moz-range-thumb {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        background: #2F735A;
        cursor: pointer;
    }
}
