$vars: (
  window-bg: #fff
);

.welcome-modal {
  display: none;
  position: fixed;
  z-index: 9999;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  justify-content: center;
  align-items: center;
}

.welcome-modal__overlay {
  background-color: rgba(0, 0, 0, 0.4);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9998;
}

.welcome-modal__window {
  position: relative;
  background-color: map-get($map: $vars, $key: window-bg);
  border-radius: 4px;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.25);
  margin: auto;
  max-width: 65rem;
  max-height: 85rem;
  padding: 4rem;
  z-index: 9999;

  .close-button.display-topright {
    position: absolute;
    top: 5px;
    right: 5px;
  }

  .welcome-modal__helper > a.btn > span {
    margin-right: 5px;
  }

  .welcome-modal__helper > i {
    line-height: 5rem;
  }
}

.welcome-modal__title {
  margin: 1.5rem 0 0.5rem;
  line-height: 3.5rem;
}

.welcome-modal__body {
  margin: 0 0 2.5rem;
}

.welcome-modal__helper {
  clear: both;
}

.welcome-modal__actions {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 1.5rem 0;
}

@media only screen and (max-width: 640px) {
  .welcome-modal__window {
    /*z-index: 100001;*/
    width: 95vw;
    padding: 2rem 1.5rem;
    max-height: 98vh;
    overflow: hidden;
  }

  .welcome-modal__body {
    overflow-y: auto;
    max-height: 75vh;
  }
}
