* {
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
  font-size: 62.5%;
}

body {
  font-size: 1.6em;
  line-height: 1.45;
  margin: 0;
}

input[type='text'] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  box-sizing: border-box;
}

// Buttons
@import 'components/button';
