.show {
  display: block !important;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.d-block {
  display: inline-block;
}

.pull-right {
  float: right;
}

.pull-left {
  float: left;
}

.text-left {
  text-align: left;
}

.text-right {
  text-align: right;
}

.heart-color {
  color: #ff2828;
}

.info-color {
  color: #2780ca;
}