@import 'variables';
@import 'mixins';
@import "global";
@import "utils";

#full-map {
  width: 100%;
  height: 200px;
}

.info {
  padding: 6px 8px;
  font-size: 14px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
}

.info h4 {
  margin: 0 0 5px;
  color: #777;
}

.legend {
  text-align: left;
  line-height: 18px;
  color: #555;
}

.legend i {
  cursor: pointer;
  width: 16px;
  height: 16px;
  float: left;
  margin-right: 8px;
  opacity: 0.7;
}

// Spinner

@import "components/spinner";

// Modal

@import "components/modal";

// Welcome Modal

@import "components/welcome-modal";

// Place Modal

@import "components/place-modal";

// Loading

@import "components/loader";

// Slider

@import "components/slider";

// Rating

@import "components/rating";

// Sidebar

@import "components/sidebar";

$circle-btn-vars: (
  size: 4rem,
);

#search-button,
#help-button,
#search-place-button,
#info-button,
#whatsapp-button,
#facebook-button,
#sidebar-button {
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2em;
  height: map-get($map: $circle-btn-vars, $key: size);
  position: fixed;
  right: 10px;
  text-align: center;
  width: map-get($map: $circle-btn-vars, $key: size);
  z-index: 999;
  display: flex;
  justify-content: center;
  align-self: center;

  a {
    display: flex;
    justify-content: center;
    align-self: center;
  }

  span {
    font-size: 1.8rem;
    line-height: 4rem;
  }
}

.fa-store {
  color: #f3f3f3;
}

#info-button,
#whatsapp-button,
#facebook-button,
#sidebar-button {
  span {
    font-size: 2.3rem;
    line-height: 2rem;
    margin-left: 0.1rem;
  }
}

#help-button {
  top: 10px;
  background: #f39c12;
  border: 1px solid #fcd25e;
  display: flex;
  justify-content: center;
  align-self: center;
  span {
    font-size: 2.3rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
  }
}

#search-button {
  bottom: 1em;
  background: #2980b9;
  border: 1px solid #3498db;display: flex;
  justify-content: center;
  align-self: center;
  span {
    font-size: 2.3rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
  }
}

#search-place-button {
  bottom: 7rem;
  background: #2980b9;
  border: 1px solid #3498db;display: flex;
  justify-content: center;
  align-self: center;
  span {
    font-size: 2.3rem;
    line-height: 2rem;
    display: flex;
    justify-content: center;
    align-self: center;
    color: white;
  }
}

#info-button,
#whatsapp-button,
#facebook-button,
#sidebar-button {
  top: 4.4em;
  background: #ffffff;
  left: 10px;
  width: 3.5rem;
  height: 3.5rem;
}

#sidebar-button {
  top: 6.65em;

  span {
    line-height: 3.5rem;
    font-size: 2rem;
  }
}

#whatsapp-button {
  top: 9em;
}

#facebook-button {
  top: 11.25em;
}

#banner {
  position: absolute;
  display: block;
  bottom: 0;
  width: 100%;
  z-index: 10000;
  background: #26a69a;
  text-align: center;
  color: #f2f2f2;
  padding: 5px 0;
}

.item-suggest-result {
  cursor: pointer;
  padding: 5px;
}

.item-suggest-result:nth-of-type(2n) {
  background: #f4f4f4;
}

.item-suggest-result:hover {
  background: #ccc;
}

div#suggest-results {
  margin-top: -5px;
  background: #fff;
  width: 100%;
  max-height: 140px;
  overflow-y: auto;
  padding: 10px;
  box-shadow: 12px 9px 2px #f2f2f2;
}

@media only screen and (max-width: 640px) {
  div#search-button,
  div#search-place-button,
  div#help-button {
    /*padding: 0.4em;*/

    span {
      font-size: 1.8rem;
      line-height: 4rem;
    }
  }
  .modal {
    padding-top: 2rem;
  }

  div#whatsapp-button,
  div#facebook-button,
  div#sidebar-button {
    padding: 0em;
  }
}

#info-button > span {
  display: flex;
  justify-content: center;
  align-self: center;
  color: #2780ca;
}

.leaflet-left.leaflet-control {
  margin-left: 1.1em !important;
}

.leaflet-bar {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24) !important;
}
