<meta name="author" content="https://github.com/TheJoin95/covid19-market-waiting-times/">
<meta name="description"
      content="A project to help people stand in line at the market as little as possible" />
<meta charset="utf-8">
<link rel="manifest" href="manifest.json">
<meta name="viewport"
      content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta property="og:title" content="Covid-19 - Supermarket Waiting Times" />
<meta property="og:image" content="https://covid19-waiting-time.thejoin.tech/assets/map.png" />
<meta property="og:description"
      content="A project to help people stand in line at the market as little as possible" />
<meta property="og:url" content="https://covid19-waiting-time.thejoin.tech" />