<div id="info-button" class="shadow-1" onclick="Utils.showWelcomeModal(); ga('send', 'event', 'Link', 'Button', 'info');"><span><i class="fas fa-info-circle"></i></span></div>
<div id="help-button" class="shadow-1" onclick="TimesApp.showModalHelp();"><span><i class="fas fa-question-circle"></i></span></div>
<div id="search-place-button" class="shadow-1" onclick="Utils.searchByNameModal();"><span><i class="fas fa-store"></i></span></div>
<div id="search-button" class="shadow-1" onclick="Utils.openSuggestModal();"><span><i class="fas fa-search-location"></i></span></div>
<div id="whatsapp-button" class="shadow-1">
    <a onclick="ga('send', 'event', 'Link', 'Button', 'whatsapp');" target="_blank" href="https://api.whatsapp.com/send?phone=&text=Hey, take a look at this waiting time map https://covid19-waiting-time.thejoin.tech/&source=&data=&app_absent=">
        <span><i class="fab fa-whatsapp"></i></span>
    </a>
</div>
<div id="facebook-button" class="shadow-1">
    <a onclick="ga('send', 'event', 'Link', 'Button', 'facebook');" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https://covid19-waiting-time.thejoin.tech/">
        <span><i class="fab fa-facebook-f"></i></span>
    </a>
</div>