<div id="place-modal" class="place-modal plain-modal" role="dialog" aria-modal="true" tabindex="-1" data-place-id="0">
  <div class="place-modal__window plain-modal__window">
    <div class="place-modal__header">
      <button type="button" class="close-button display-topright"
              onclick="Utils.hidePlaceModal();">
              ×
              <span class='sr-only'>
                Close Modal
              </span>
      </button>
      <h2 class="place-modal__title">Place modal</h2>
      <p class="place-modal__subtitle">Place modal</p>
    </div>
    <div class="place-modal__body">
      <div class="place-modal__badge">
        <div class="text-center bg-25min">
          <span id="time-min">25 min</span><br/>Last update <time>18:00</time>
        </div>
      </div>
      <div class="place-modal__infobox">
        <p>
          If you are in line, please provide us your feedback with the slider below.
        </p>
      </div>
      <div class="place-modal__actions">
        <div>
          <div class="slidecontainer">
            <input 
              oninput="
              document.getElementById('time-min').innerHTML = this.value + ' min';
              document.getElementById('time-min').parentNode.className = 'text-center bg-' + this.value + 'min'"
              type="range" min="0" max="90" step="5" class="slider" id="time-range"
              />
          </div>
        </div>
        <div class="place-modal__helper">
          <p class="d-block text-left">
            0min
          </p>
          <p class="pull-right">
            90min
          </p>
        </div>
        <div class="text-center">
          <button type="button" class="mt-1 btn btn--primary" onclick="Utils.hidePlaceModal(true)">
            Submit feedback
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="place-modal__overlay" onclick='Utils.closeModal("place-modal")'></div>
</div>