<div
  id="place-modal"
  class="place-modal plain-modal"
  role="dialog"
  aria-modal="true"
  tabindex="-1"
  data-place-id="0"
>
  <div class="place-modal__window plain-modal__window">
    <button type="button" class="close-button display-topright" onclick="Utils.hidePlaceModal();">
      ×
    </button>

    <div class="place-modal__info">
      <h2 class="wait-time__info__title">Location Name</h2>
      <h5 class="wait-time__info__subtitle">Location Address</h5>
      <div class="wait-time__info wait-time-box wait-time-bg--no-info">
        <span class="wait-time__info__text">No info</span>
        <span class="wait-time__info__text">Last update <time>12:00</time></span>
      </div>
    </div>

    <div class="place-modal__body">
      <div class="place-modal__infobox">
        <p>
          If you are in line, please provide us your feedback with the slider below.
        </p>
      </div>
      <div class="place-modal__actions">
        <div>
          <div class="slidecontainer">
            <input
              oninput="
              document.getElementById('time-min').innerHTML = this.value + ' min';
              document.getElementById('time-min').parentNode.className = 'text-center bg-' + this.value + 'min'"
              type="range"
              min="0"
              max="90"
              step="5"
              class="slider"
              id="time-range"
            />
          </div>
        </div>
        <div class="place-modal__helper">
          <p class="d-block text-left">
            0min
          </p>
          <p class="pull-right">
            90min
          </p>
        </div>
        <div class="text-center">
          <button type="button" class="mt-1 btn btn--primary" onclick="Utils.hidePlaceModal(true)">
            Submit feedback
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="place-modal__overlay" onclick='Utils.closeModal("place-modal")'></div>
</div>
