<div class="sidebar" id="places-sidebar">
    <div class="sidebar__window">
        <div class="sidebar__header">
            <h2 class="sidebar__window--title">Places list</h2>
            <button type="button" class="close-button display-topright" onclick="document.getElementById('places-sidebar').classList.remove('show')">×</button>
        </div>
        <div class="sidebar__content">
            <small>Click on the place to update the wait time</small>
            <div class="sidebar__items">
                <div onclick="" class="sidebar__item" title="Titolo, indirizzo - Waiting Time">
                    <h2 class="sidebar__item--title sidebar__item--title--bg-10min">Titolo</h2>
                    <p class="sidebar__item--subtitle">Indirizzo</p>
                    <div class="sidebar__item--badge">
                        <div class="text-center bg-25min">
                        <span>25 min</span><br/>Last update <time>18:00</time>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  <div class="sidebar__overlay"></div>
</div>